<h1> This is a list of all your tasks:</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-offset-4">
      <ul>
      <% @tasks.each do |task| %>
      <li> <strong> <%= link_to(task.title, task_path(task)) %> </strong>
      <% end %>
      </li>
      </ul>
    </div>
  </div>
</div>

