<h1> This is a list of all your tasks:</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-offset-4">
      <ul>
      <% @tasks.each do |task| %>
      <li> <h2> <%= task.title %> </h2>
      <p> <%= task.details %> </p>
      <p> Completed: <%= task.completed %></p> </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
